# Build and Release Folders
bin-debug/
bin-release/
bower_components/
node_modules/
vendor/

# Numerous always-ignore extensions
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.vi
*~

# OS or Editor folders
.DS_Store
.cache
.project
.settings
nbproject
thumbs.db
Thumbs.db
Desktop.ini

# Folders to ignore
.hg
.svn
publish
.idea