<phpunit
        bootstrap="./tests/bootstrap.php"
        backupGlobals="false"
        colors="true"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true">

    <php>
        <ini name="error_reporting" value="24575"/>
        <env name="WP_PHPUNIT__TESTS_CONFIG" value="./tests/wp-tests-config.php"/>
        <env name="DB_CONNECTION" value="mysql"/>
        <env name="DB_USERNAME" value="root"/>
        <env name="DB_DATABASE" value="wordpress_test"/>
        <env name="DB_HOST" value="127.0.0.1"/>
        <env name="DB_PORT" value="3306"/>
    </php>
    <testsuites>
        <testsuite name="unit">
            <directory phpVersion="7.4" phpVersionOperator=">=" suffix="Test.php">./tests/unit</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="false">
            <directory suffix=".php">./src</directory>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-clover" target="./tests/clover.xml"/>
    </logging>
</phpunit>
