.section .addon .addon-container {
    background: #f9f9f9;
    border: 1px solid #8a8a8a;
    max-width: 300px;
    padding: 10px;
    margin: 0 1rem 1rem;
}

div.img-wrap p {
    min-height: 45px;
}

/* COLUMN SETUP  */
.section {
    display: inline-block;
    margin: 1% 1.6% 1% 0;
}
.section .col {
    float: left;
}

/* GO FULL WIDTH AT LESS THAN 480 PIXELS */
@media only screen and (max-width: 762px) {
    .section .col {
        margin: 1% 0 1em;
    }
}
