name: Main PHP Version(s) CI

on:
  push:
    branches:
      - develop
  pull_request:

# Cancels all previous workflow runs for the same branch that have not yet completed.
concurrency:
  # The concurrency group contains the workflow name and the branch name.
  group: "${{ github.workflow }}-${{ github.ref }}"
  cancel-in-progress: true

jobs:
  run-phpcs:
    name: Run PHPCS
    runs-on: ubuntu-latest
    strategy:
      matrix:
        php-version: [ "8.1", "8.2", "8.3", "8.4" ]
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup
        id: ci-setup
        uses: ./.github/actions/ci-setup
        with:
          extensions: 'curl'
          extensions-cache-key: run-phpcs-${{ matrix.php-version }}
          php-version: ${{ matrix.php-version }}
          token: ${{ secrets.GITHUB_TOKEN }}
          tools: 'composer, cs2pr, phpcs'

      - name: Run PHPCS
        continue-on-error: false
        id: phpcs
        run: composer phpcs
        env:
          CHANGED_FILES: ${{ steps.ci-setup.outputs.files }}
          PHP_VERSION: ${{ matrix.php-version }}

      - name: Show PHPCS results in PR
        if: ${{ always() && steps.phpcs.outcome == 'failure' }}
        run: cs2pr ./phpcs-report.xml

  run-phpunit:
    name: Run PHPUnit
    runs-on: ubuntu-latest
    services:
      mysql:
        image: mysql:8.0
        env:
          MYSQL_DATABASE: wordpress_test
          MYSQL_ROOT_PASSWORD: root
          MYSQL_USER: wordpress_user
          MYSQL_PASSWORD: mysql_password
        ports:
          - 3306/tcp
        options: --health-cmd="mysqladmin ping" --health-interval=10s --health-timeout=5s --health-retries=3
    strategy:
      matrix:
        php-version: [ "8.1" ]
        coverage: [ true ]
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup
        id: ci-setup
        uses: ./.github/actions/ci-setup
        with:
          extensions: 'curl, mysql, mysqli, tar, zip'
          extensions-cache-key: run-phpunit-${{ matrix.php-version }}
          php-version: ${{ matrix.php-version }}
          token: ${{ secrets.GITHUB_TOKEN }}
          tools: 'composer, phpunit'

      - name: Install WP Tests
        run: |
          chmod u+x vendor/thefrosty/wp-utilities/bin/install-wp-tests.sh
          ./vendor/thefrosty/wp-utilities/bin/install-wp-tests.sh wordpress_test root root 127.0.0.1:${{ job.services.mysql.ports['3306'] }} latest true
        env:
          WORDPRESS_DB_HOST: 127.0.0.1:${{ job.services.mysql.ports['3306'] }}

      - name: Run PHPUnit
        id: phpunit
        run: composer phpunit
        env:
          CHANGED_FILES: ${{ steps.ci-setup.outputs.files }}

      - name: Upload coverage to Codecov
        if: ${{ github.event_name == 'pull_request' }}
        uses: codecov/codecov-action@v3
        with:
          fail_ci_if_error: false

  run-eslint:
    name: Run ESLint
    runs-on: ubuntu-latest
    if: ${{ false }} # Disable for now
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Get Changed Files
        id: files
        uses: masesgroup/retrieve-changed-files@v3

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Run ESLint
        id: eslint
        run: |
          npm install
          composer eslint
        env:
          CHANGED_FILES: ${{ steps.ci-setup.outputs.files }}
