name: Check for typos

permissions:
  contents: read

on:
  pull_request:
    branches-ignore:
      - main
      - master
      - translate/*

env:
  CLICOLOR: 1

jobs:
  spelling:
    name: Spell Check with Typos
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Run typos
        uses: crate-ci/typos@v1.42.3
